*

!helpers/declarations
!helpers/src
!helpers/*.json

!ingress/src
!ingress/*.json

!dependency-detector/src
!dependency-detector/*.json

!anomaly-detector/src
!anomaly-detector/*.json

!graph-service/src
!graph-service/*.json

!pagerduty-integration/src
!pagerduty-integration/*.json

!pulsar-assets/

!wait-for-it.sh
